*{

	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
	main {
		max-width:1000px;
		margin: auto;
		padding: 140px
}

	body{
		background:black;
		color: white;
}

	.marco{
		width: 1000px;
		min-height: 1000px;

		margin: 50px auto;
		
		border: 2px solid white;

		padding: 40px;

		position: relative;

}




/* ====== # Region Mesa de fragmentos ====== */


.espiritu-enano{
	top: 120px;
	left: 80;
	position: absolute;
}
.cazadora-de-monstruos{
	top: 636px;
	left: 666px;
	position: absolute;
}
.bridge{
	top: 500px;
	left: 500;
	position: absolute;
}
.outrun{
	top: 900px;
	left: 1px;
	position: absolute;
}
.lumbridge-gielinor{
	top: 525px;
	left: 525px;
	position: absolute;
}
.lumbridge-erenor{
	top: 546px;
	left: 139px;
	position: absolute;
}
.evolution{
	top: 866px;
	left: 8666px;
	position: absolute;
}
.almirante{
	top: 102px;
	left: 230px;
	position: absolute;
}
.nada-ni-nadie{
	top: 962px;
	left:722px;
	position: absolute;
}
.invictus{
	top: 30px;
	left: 700px;
	position: absolute
}
.reina-arruinada{
	top: 166px;
	left: 601px;
	position: absolute;
}
.viajera-multiversal{
	top: 700px;
	left: 599px;
	position: absolute;
}
.oraculo{
	top: 380px;
	left: 449px;
	position: absolute;
}
.inframundo{
	top: 66px;
	left: 500px;
	position: absolute;
}

/* ====== # Region Mesa de fragmentos ====== */

/* ====== Titulos de Header =======*/
header{
    text-align: center;
    padding: 80px 20px;

    background: radial-gradient(circle at top, rgba(255,255,255,0.08), transparent 60%);
}
/* ======= estilos de navegación (nav) ======*/
nav a:hover{
    background: rgba(255,255,255,0.1);
    transform: scale(1.05);
    transition: 0.2s ease;
}
nav a{
	font-size: 74px;
	padding: 30px 45px;
}

nav{
	padding: 30px 20px;
}
	.galeria img {
		width: 500px;
		border-radius: 250px;
		transition: transform 0.27s ease;
		cursor: pointer;
}

.galeria img:hover {
	transform: scale(1.10);
}





