*{

	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
	main {
		max-width:1000px;
		margin: auto;
		padding: 140px
}

	body{
		background:black;
		color: white;
}

	.marco{
		width: 1000px;
		min-height: 900px;

		margin: 50px auto;
		
		border: 2px solid white;

		padding: 40px;

		position: relative;

}



/* ====== Mesa de fragmentos ====== */

	.fragmentos-de-historia{
	width: 100%;
	height: 900px;

	position: relative;
}

.espiritu-enano{
	top: 120px;
	left: 80;
	position: absolute;
}
.cazadora-de-monstruos{
	top: 636px;
	left: 666px;
	position: absolute;
}
.bridge{
	top: 899px;
	left: 724;
	position: absolute;
}
.outrun{
	top: 900px;
	left: 1px;
	position: absolute;
}
.lumbridge-gielinor{
	top: 525px;
	left: 525px;
	position: absolute;
}
.lumbridge-erenor{
	top: 546px;
	left: 139px;
	position: absolute;
}
.evolution{
	top: 866px;
	left: 8666px;
	position: absolute;
}
.almirante{
	top: 102px;
	left: 230px;
	position: absolute;
}
.nada-ni-nadie{
	top:462;
	left:822;
	position: absolute;
}
.invictus{
	top: 30px;
	left: 20px;
	position: absolute
}
.reina-arruinada{
	top: 966px;
	left: 601;
	position: absolute;
}
.viajera-multiversal{
	top: 700px;
	left: 599px;
	position: absolute;
}
.oraculo{
	top: 470px;
	left: 699px;
	position: absolute;
}
.inframundo{
	top: 066px;
	left: 500;
	position: absolute;
}
/* ====== Mesa de fragmentos ====== */

	.galeria img {
		width: 500px;
		border-radius: 250px;
		transition: transform 0.27s ease;
		cursor: pointer;
}

.galeria img:hover {
	transform: scale(1.10);
}





